<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <h3 class="section-subheading text-muted">“The world is a book, and those who do not travel read only one page.” – Saint Augustine</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive full-height" src="/assets/travel_free.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Free!</h4>
                <h4 class="subheading">Free! Free!</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Travel The Globe For Free is owned and founded and operated by Weapon Of Success Group International, as a free resource to help ordinary people that can't afford to travel to their dream destination due to inadequate finance!</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive full-height" src="/assets/dream_destination.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Group</h4>
                <h4 class="subheading">Weapon Of Success Group International</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">''Weapon Of Success Group International'' will be the first and only group to start and run a %100 free travelling worldwide to the public without paying a damn!</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive full-height" src="/assets/world_tour.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Collect Moments Not Things</h4>
                <h4 class="subheading">Across The Globe</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Our primary aim is to help all shades of persons across the globe to travel to their dream holiday destination for FREE!</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive full-height" src="/assets/travel.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2017</h4>
                <h4 class="subheading">Explore The Beauty</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Yes for FREE I repeat, without paying a damn! Our target is to start with at-least 100 people from every part of the world to travel and explore the beauty of world before the end of the year 2017!</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Live
                <br>Your
                <br>Life!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="text-muted">After a fair share of setbacks, a ton of testing and our team working round the clock we're pleased to announce we are officially out to public today September 1st, 2016. If you are among the individual that want to travel abroad for vacation but can't afford it, we are the solution. Travel The Globe For Free is for those that can't afford to travel to their dream holiday destination and opportunity for regular travellers to travel For Free to their next dream holiday destination without paying a cent on your travelling expenses. We believe in action, contact us for more information.</p>
      </div>
    </div>
  </div>
</section>